<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>aiassistant</name>
    <displayName><![CDATA[Assistant IA E-commerce]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Chatbot IA, recommandations et FAQ dynamique connectés à votre AI Core.]]></description>
    <author><![CDATA[Prodexo PFE]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
